<section id = 'header-content'>
<div>
  <h1>Grab onto our Handlebars and get ready for the ride of your life.</h1>
  <button>Book a tour</button>
</div>
</section>

<section id = 'hp-tour-content'>

<div>
  <h1>We currently offer two tours</h1>
  <img id= "tour-break-line" src="../images/line.png">
  <div id= "tour-card-wrapper">
    <div class ='tour-card'>
      <h2>{{tour.0.name}}</h2>
      <img src='#'>
      <p>{{tour.0.description}}</p>
      <form method="GET" action="/tours/{{tour.0._id}}">
        <button>see details</button>
      </form>
    
    </div>
      <div class ='tour-card'>
      <h2>{{tour.1.name}}</h2>
      <img src='#'>
      <p>{{tour.1.description}}</p>
      <form method="GET" action="/tours/{{tour.1._id}}">
        <button>see details</button>
      </form>
    </div>
  </div>
</div>

</section>
