<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"></head>

<body class= 'container'>
  <nav id = 'nav'>
    <div>
      <a href="/"><img src="/images/logo.png" alt='handlebars-tours logo'></a>
    </div>
    {{#if user}}
    <div>
    <a href="/#hp-tour-content">see all tours</a>
    <form method="GET" action="/profile/{{user._id}}">
      <button id="nav-btn">profile</button>
    </form>
    <form method="POST" action="/auth/logout">
      <button id = "nav-btn">logout</button>
    </form>
    </div>
    {{else}}
    <div>
    <a href="/#hp-tour-content">see all tours</a>
    <a href="/auth/signup">sign up</a>
    <a href="/auth/login">login</a>
    </div>
    {{/if}}
  </nav>

  {{{body}}}

  <footer id = 'footer'>
    <p>Made by Lennie Zhu and Dauv Bafna (Ironhack BCN 2018)</p>

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
  {{#if javascript}}
    <script>
      {{{javascript}}}
    </script>
  {{/if}}
  {{!-- <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/593fcfd9b3d02e11ecc69ad0/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script> --}}
</body>

</html>
