<section id = "profile-container">
  <div>
    <img src = "/images/profile.png">
  </div>

  <div id = "profile-wrapper">
    <div class = "profile-section">
      <h1>Your profile</h1>
      <p>First name: {{user.firstname}}</p>
      <p>Email: {{user.email}}</p>
    </div>

    {{#if tour}}
      <div class = "profile-section">
        <h3>your upcoming tours</h3>
        
        <div>
          {{#each tour}}
            <div id = "itinerary-tour-name">
              <button class="accordion">{{this.name}}</button>
              <div class="panel">
                {{!-- <p> --}}
                  {{#each this.days}}
                    <button class="accordion">{{this.title}}</button>
                    <div class="panel">
                      <p>{{this.daySummary}}</p>
                    </div>
                  {{/each}}
                {{!-- </p> --}}
              </div>
            </div>
          {{/each}}
            
          </div>
        </div>

      </div>
    {{else}}
      <p>You have no upcoming tours</p>
    {{/if}}
    
  </div>

</section>